body {
    color: white;
    background: rgb(17, 16, 66);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(10, 230, 120);
    padding: 20px;
    font-size: 32px;
    color: rgb(35, 224, 145);
}

section {
	background: rgb(20, 157, 220);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

img {
    height: 200px;
}
